.SUB1{
    color: blue;
    text-align: center;
}
.SUB2{
    color: orange;
    text-align: center;
}
.SUB3{
    color: purple;
    text-align: center;
}
.SUB4{
    color: green;
    text-align: center;
}
.SUB5{
    color:red;
    text-align: center;
}
.SWA{
    color: red;
    text-align: center;
}